---
import thirty_four from "../images/34.png";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

---

<Layout title='The Power of The Arts'>
  <header class='header'>
    <h1 class='title'>The Power of The Arts</h1>
    <div class="row">
      <blockquote>
        <p>
          We stand in the doorway of a new epoch in human history. Artificial
          intelligence, digital media and corporate domination threaten to swallow
          our culture and marginalize our humanity. Within this dangerous context,
          the arts can play the crucial role of re-affirming our humanity and
          creating opportunities for the sustenance of community. We must become
          active creators of art, not only passive consumers of it. Only when we
          ourselves actively participate in experiences that allow us to sing, dance
          and share stories, can the transforming power of the arts do their magic.
        </p>
      </blockquote>
      <div class="image">
        <Image src={thirty_four} alt="Girl with phone" />
      </div>
    </div>
  </header>
</Layout>

<style>
  .row {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .image {
    flex: 1;
    min-width: 0;
  }

  .image :global(img) {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  blockquote {
    flex: 1;
    display: flex;
    border-top: 3px solid #130f40;
    border-left: 3px solid #130f40;
    background: #30336b25;
    position: relative;
    padding: 2rem;
    font-size: 1.25rem;
  }

  @media (min-width: 768px) {
    .row {
      flex-direction: row;
    }
  }
</style>
